{% extends 'base.html' %}
{% load static %}
{% block title %}
    MyProfile
{% endblock %}

{% block content %}

<head>

 <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<!--META-->
<meta name="viewport" content="width=device-width initial-scale=1.0">

<!--FONTS-->
<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">

    <!--CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'shops/css/topcards.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'shops/css/bottomcards.css' %}">

  <link rel='stylesheet' href='https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.carousel.min.css'>
<link rel='stylesheet' href='https://owlcarousel2.github.io/OwlCarousel2/assets/owlcarousel/assets/owl.theme.default.min.css'>



</head>
{% endblock content %}