{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}On-line Shop{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'shops/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'shops/css/styles.css' %}">
</head>
<body>
{% include 'navbar.html' %}


{% block content %}


{% endblock %}

<script src="{% static 'shops/js/jquery.min.js' %}" type="text/javascript"></script>
<script src="{% static 'shops/js/bootstrap.min.js' %}" type="text/javascript"></script>
</body>
</html>